.container {
  margin: auto;
  width: 90%;
  // border: 1px solid;
}

.flex-wrapper, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// body {
//   background-color: $primary-clr;
//   background-color: $secondary-clr;
// }

// Button
.btn {
  border: 1px solid;
  padding: 15px 40px;
  border-radius: 8px;

  // &:hover {
  //   background-color: $secondary-clr;
  //   cursor: pointer;
  // }

  &:hover a {
    color: $accent-clr;
  }
}
// Link
a:hover {
  color: $accent-clr;
}