@import "./reset";
@import "./variables";
@import "./common";
@import "./media-query";

.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
}


// Header Start
header {
  background-color: $primary-clr;

  nav ul {
    gap: 50px;
  }

  .header-btn {
    border: none;
    padding: none;
    border-radius: 8px;
    @extend .btn;
  }
}
