@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  font-weight: 600;
  font-size: inherit;
  text-decoration: none;
  border: none;
  color: #F7F7F7;
  background-color: transparent;
}
a:hover, button:hover {
  cursor: pointer;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.section-padding {
  padding: 50px 0 30px;
}

p {
  color: #f5f5f5;
}

.btn {
  padding: 15px 30px;
  color: #1C2833;
  background-color: #1abc9c;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  color: #1abc9c;
  background-color: transparent;
  border-color: #1abc9c;
}

a:hover {
  color: #1abc9c;
}

i {
  color: #f5f5f5;
}
i:hover {
  color: #1abc9c;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 90%;
}

.flex-wrapper,
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 70px;
  place-content: end;
  background-color: #1C2833;
  z-index: 200;
}
.header__logo img {
  height: 50px;
}
.header__nav ul {
  gap: 50px;
}
.header__nav ul li a {
  font-weight: 400;
}
.header__btn a {
  padding: 15px 35px;
  font-weight: 700;
}
.header__hamburgermenu-icon {
  display: none;
}
.header__hamburgermenu-icon i {
  font-size: 33px;
}
.header__hamburgermenu-icon .fa-xmark {
  display: none;
}

.hamburgermenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #1C2833;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.hamburgermenu.active {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0); /* Slide into view */
}
.hamburgermenu.inactive {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); /* Slide out of view */
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease; /* Smooth transition */
}
.hamburgermenu__container, .hamburgermenu__nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.hamburgermenu__container {
  padding: 50px 0;
}
.hamburgermenu__btn {
  display: block !important;
}

.menu-open .fa-bars-staggered {
  display: none;
}

.menu-open .fa-xmark {
  display: block;
}

.no-scroll {
  overflow: hidden;
}

.hero {
  place-content: center;
  height: 100vh;
  background-color: #1C2833;
}
.hero__wrapper {
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content {
  grid-area: 1/1/2/7;
}
.hero__content h1 {
  font-size: clamp(42px, 5.56vw, 90px);
  width: 5ch;
  line-height: 1;
  color: transparent;
  -webkit-text-stroke: 1px #1abc9c;
}
.hero__content p {
  margin: 20px 0 50px;
  width: 85%;
  line-height: 25px;
}
.hero__content p span {
  font-weight: 700;
  color: #1abc9c;
}
.hero__content a:not(:last-child) {
  margin-right: 10px;
  color: #1abc9c;
  background-color: transparent;
  border-color: #1abc9c;
}
.hero__content a:not(:last-child):hover {
  color: #1C2833;
  background-color: #1abc9c;
  border-color: transparent;
}
.hero__image {
  grid-area: 1/7/2/12;
}
.hero__image img {
  width: 100%;
  border: 5px solid #1abc9c;
  border-radius: 50%;
}
.hero__social .social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 40px;
}
.hero__social .social i {
  font-size: 15px;
}