// Font Family
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

// Section Padding
.section-padding {
  padding: 50px 0 30px;
}

// Sections Common BG Color
.header,
.hero,
.project,
.contact,
.footer {
  background-color: $primary-clr;
}

.about,
.service {
  background-color: $section-bg-clr;
}

// Text
p {
  color: $text-clr;
}

// Button
.btn {
  display: inline-block;
  padding: 15px 30px;
  color: $primary-clr;
  background-color: $accent-clr;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $accent-clr;
    background-color: transparent;
    border-color: $accent-clr;
  }
}

// Link
a:hover {
  color: $accent-clr;
}

// Icon
i {
  color: $text-clr;

  &:hover {
    transition: 0.3s ease-in-out;
    color: $accent-clr;
    cursor: pointer;
  }
}

// Go-To-Top Button
.go-to-top {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  font-size: 14px;
  font-weight: 700;
  color: $accent-clr;
  text-align: center;
  line-height: 1;

  &:hover {
    color: $primary-clr;
  }
}

// Common Blocks
.container {
  margin: 0 auto;
  width: 90%;
  // border: 1px solid white;
}

.flex-wrapper,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}
