* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, button {
  font-weight: 600;
  font-size: inherit;
  text-decoration: none;
  border: none;
  color: #F7F7F7;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none; /* Disable dragging in Chrome, Safari */
  user-select: none; /* Prevent text/image selection */
  pointer-events: auto; /* Ensure images are still clickable */
}