// Common Blocks
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1536px;
}

.flex-wrapper,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.text-center {
  text-align: center;
}