@import "./reset";
@import "./variables";
@import "./common";

// Header Start
.header {
  height: 70px;
  place-content: end;
  // border: 1px solid white;
  background-color: $primary-clr;

  &__logo img {
    height: 50px;
  }

  &__nav ul {
    gap: 50px;

    li a {
      font-weight: 400;
    }
  }

  &__btn a {
    padding: 15px 35px;
    font-weight: 700;
  }

  &__hamburgermenu-icon {
    display: none;

    i {
      font-size: 33px;
    }

    .fa-xmark {
      display: none;
    }
  }
}

// Hamburger Menu
.hamburgermenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: $primary-clr;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Slide into view */
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); /* Slide out of view */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }

  &__container,
  &__nav ul {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__container {
    padding: 50px 0;
  }

  &__btn {
    display: block !important;
  }
}
// this below codes are related to shoing and not showing icons
.menu-open .fa-bars-staggered {
  display: none;
}

.menu-open .fa-xmark {
  display: block;
}

.no-scroll {
  overflow: hidden;
}
// Header End

// Hero Start
.hero {
  // padding: 30px 0;
  height: calc(100vh - 70px);
  background-color: $primary-clr;

  &__container {
    place-content: center;
  }

  &__wrapper {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  &__content {
    grid-area: 1 / 1 / 2 / 7;

    h1 {
      font-size: clamp(42px, 5.56vw, 90px);
      width: 5ch;
      line-height: 1;
      color: transparent;
      -webkit-text-stroke: 1px $accent-clr;
    }

    p {
      margin: 20px 0 50px;
      width: 85%;
      line-height: 25px;

      span {
        font-weight: 700;
        color: $accent-clr;
      }
    }

    a {

      &:not(:last-child) {
        margin-right: 10px;
        color: $accent-clr;
        background-color: transparent;
        border-color: $accent-clr;

        &:hover {
          color: $primary-clr;
          background-color: $accent-clr;
          border-color: transparent;
        }
      }
    }
  }

  &__image {
    grid-area: 1 / 7 / 2 / 12;

    img {
      // width: 100%;
      border: 5px solid $accent-clr;
      border-radius: 50%;
    }
  }

  &__social {
    align-self: end;

    .social {
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 40px;
      // border: 1px solid #fff;

      i {
        font-size: 15px;
      }
    }
  }
}

// .hero {
//   &__wrapper {
//     grid-template-columns: repeat(12, 1fr);
//     align-items: center;
//     // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   }
//     .box {
//       // padding: 100px;
//       // background-color: red;
//       border: 1px solid;
//     }
//     .box1 {
//       // background-color: pink;
//       grid-area: 1 / 1 / 2 / 7;
//     }
//     .box2 {
//       // background-color: yellow;
//       grid-area: 1 / 7 / 2 / 12;
//     }
//     .box3 {
//       align-self: end;
//     }
//     .social {
//       flex-direction: column;
//       justify-content: end;
//       align-items: end;
//       gap: 40px;
//       border: 1px solid #fff;

//       i {
//         font-size: 15px;
//       }
//     }
//   }

// Hero End
