@import "./reset";
@import "./variables";
@import "./common";

// Header Start
.header {
  padding-bottom: 8px;
  width: 100%;
  height: 70px;
  place-content: end;
  background-color: $primary-clr;
  z-index: 200;
  transition: backdrop-filter 0.3s ease;

  &__logo img {
    height: 50px;
  }

  &__nav ul {
    gap: 50px;

    li a {
      font-weight: 400;
    }
  }

  &__btn a {
    padding: 15px 35px;
    font-weight: 700;
  }

  &__hamburgermenu-icon {
    display: none;

    i {
      font-size: 33px;
    }

    .fa-xmark {
      display: none;
    }
  }
}
.scrolled {
  background: #1c2833a8;
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}
// Hamburger Menu
.hamburgermenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: $primary-clr;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Slide into view */
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); /* Slide out of view */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }

  &__container,
  &__nav ul {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__container {
    padding: 50px 0;
  }

  &__btn {
    display: block !important;
  }
}
// this below codes are related to showing and not showing icons
.menu-open .fa-bars-staggered {
  display: none;
}

.menu-open .fa-xmark {
  display: block;
}

.no-scroll {
  overflow: hidden;
}
// Header End

// Hero Start
.hero {
  place-content: center;
  height: 100vh;
  background-color: $primary-clr;

  &__wrapper {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  &__content {
    grid-area: 1 / 1 / 2 / 7;

    h1 {
      font-size: clamp(42px, 5.56vw, 90px);
      width: 5ch;
      line-height: 1;
      color: transparent;
      -webkit-text-stroke: 1px $accent-clr;
    }

    p {
      margin: 20px 0 50px;
      width: 85%;
      line-height: 25px;

      span {
        font-weight: 700;
        color: $accent-clr;
      }
    }

    a {
      &:not(:last-child) {
        margin-right: 10px;
        color: $accent-clr;
        background-color: transparent;
        border-color: $accent-clr;

        &:hover {
          color: $primary-clr;
          background-color: $accent-clr;
          border-color: transparent;
        }
      }
    }
  }

  &__image {
    grid-area: 1 / 7 / 2 / 12;

    img {
      width: 100%;
      // height: 500px;
      border: 5px solid $accent-clr;
      border-radius: 50%;
    }
  }

  &__social {
    // align-self: end;

    .social {
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 40px;
      // border: 1px solid #fff;

      i {
        font-size: 15px;
      }
    }
  }
}
// Hero End

// About Me Start
// .about {
//   height: calc(100vh - auto);
//   // height: 100vh;
//   // place-content: center;

//   &__container {
//     // border: 1px solid green;
//   }

//   &__wrapper {
//     // align-items: start;
//     gap: 50px;
//   }

//   &__image {
//     flex: 1;

//     img {
//       width: 100%;
//       // object-fit: scale-down;
//     }

//     .social i {
//       color: green;
//     }
//   }

//   &__content {
//     flex: 2;
//     grid-template-rows: repeat(10, 1fr);
//     // grid-gap: 10px;
//   }

//   &__text {
//     padding: 20px 0;
//     // border: 3px solid;
//     grid-row: 1 / 9;

//   .typewrite {
//     font-size: 20px;
//     font-weight: 700;
//     color: $accent-clr;
//     border-right: 4px solid $accent-clr;
//   }

//     p {
//       margin: 20px 0 30px;
//       font-weight: 500;
//       color: $primary-clr;
//       line-height: 25px;
//     }

//     &-btn {

//       &:hover {
//         background-color: $primary-clr;
//         border: 1px solid transparent;
//       }
//     }
//   }

//   &__skill {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     // align-content: center;
//     // border: 3px solid;
//     grid-row: 9 / 11;

//     i {
//       border: 1px solid;
//       // font-size: 20px;
//       color: $primary-clr;
//     }

//     .icon {
//       // display: flex;
//       // gap: 30px;

//       i {
//       border: 1px solid;
//       // font-size: 40px;
//       color: $primary-clr;
//     }}
//   }
// }

.about {
  // height: calc(100vh - auto);
  height: 100vh;
    place-content: center;

  &__wrapper {
    align-items: center;
    gap: 20px;
  }

  &__left,
  &__right {
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    // justify-content: space-between;
  }

  &__left {
    flex: 1;
    // background-color: yellow;

    &-image {
      img {
        width: 100%;
      }
    }

    &-social {
      justify-content: space-evenly;
      padding: 15px 0;

      i {
        font-size: 20px;
        color: $primary-clr;

        &:hover {
          color: $accent-clr;
        }
      }
    }
  }

  &__right {
    flex: 2;
    // background-color: pink;

    &-text {
      // flex: 1;

      .typewrite {
        font-size: 20px;
        font-weight: 700;
        color: $accent-clr;
        border-right: 4px solid $accent-clr;
      }

      p {
        margin: 20px 0 30px;
        font-weight: 500;
        color: $primary-clr;
        line-height: 25px;
      }

      &-btn {
        &:hover {
          background-color: $primary-clr;
          border: 1px solid transparent;
        }
      }
    }

    &-skill {
      overflow: hidden;
      position: relative;
      align-items: center;
      padding: 40px 0 30px;
        // width: 600px;
        border: 2px solid;
      mask-image: linear-gradient( to right,rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));

      .icon {
        position: absolute;
        left: 100%;
        animation-name: scrollLeft;
        animation-duration: 35s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        i {
          font-size: 50px;
          &:hover {
            color: $accent-clr;
            transform: scale(1.2);
            cursor: default;
          }
        }
      }

      @keyframes scrollLeft {
        from {
          left: 100%;
        }
        to {
          left: -100px;
        }
      }

      .icon1 {
        animation-delay: 0s;
        
        i {
          color: #DD4B24;
        }
      }

      .icon2 {
        animation-delay: 5s;

        i {
          color: #254BDE;
        }
      }

      .icon3 {
        animation-delay: 10s;
        
        i {
          color: #D1689A;
        }
      }

      .icon4 {
        animation-delay: 15s;
        
        i {
          color: #F4E225;
        }
      }

      .icon5 {
        animation-delay: 20s;
        
        i {
          color: #7F18F9;
        }
      }

      .icon6 {
        animation-delay: 25s;
        
        i {
          color: #28799E;
        }
      }

      .icon7 {
        animation-delay: 30s;
        
        i {
          color: $primary-clr;
        }
      }
    }
  }
}
// About Me End
