@import "./reset";
@import "./variables";
@import "./common";

// Header Start
.header {
  padding-bottom: 8px;
  width: 100%;
  height: 70px;
  place-content: end;
  z-index: 200;
  transition: backdrop-filter 0.3s ease;

  &__logo img {
    height: 50px;
  }

  &__nav ul {
    gap: 50px;

    li a {
      font-weight: 400;
    }
  }

  &__btn a {
    padding: 15px 35px;
    font-weight: 700;
  }

  &__hamburgermenu-icon {
    display: none;

    i {
      font-size: 33px;
    }

    .fa-xmark {
      display: none;
    }
  }
}
.scrolled {
  background: #1c2833a8;
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}
// Hamburger Menu
.hamburgermenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: $primary-clr;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 100;

  &.active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0); /* Slide into view */
  }

  &.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); /* Slide out of view */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }

  &__container,
  &__nav ul {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  &__container {
    padding: 50px 0;
  }

  &__btn {
    display: block !important;
  }
}
// this below codes are related to showing and not showing icons
.menu-open .fa-bars-staggered {
  display: none;
}

.menu-open .fa-xmark {
  display: block;
}

.no-scroll {
  overflow: hidden;
}
// Header End

// Hero Start
.hero {
  place-content: center;
  height: 100vh;

  &__wrapper {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  &__content {
    grid-area: 1 / 1 / 2 / 7;

    h1 {
      font-size: clamp(42px, 5.56vw, 90px);
      width: 5ch;
      line-height: 1;
      color: transparent;
      -webkit-text-stroke: 1px $accent-clr;
    }

    p {
      margin: 20px 0 50px;
      width: 85%;
      line-height: 25px;

      span {
        font-weight: 700;
        color: $accent-clr;
      }
    }

    a {
      &:not(:last-child) {
        margin-right: 10px;
        color: $accent-clr;
        background-color: transparent;
        border-color: $accent-clr;

        &:hover {
          color: $primary-clr;
          background-color: $accent-clr;
          border-color: transparent;
        }
      }
    }
  }

  &__image {
    grid-area: 1 / 7 / 2 / 12;

    img {
      width: 100%;
      // height: 500px;
      border: 5px solid $accent-clr;
      border-radius: 50%;
    }
  }

  &__social {
    // align-self: end;

    .social {
      flex-direction: column;
      justify-content: end;
      align-items: end;
      gap: 40px;
      // border: 1px solid #fff;

      i {
        font-size: 15px;
      }
    }
  }
}
// Hero End

// About Me Start
.about {
  height: 100vh;
  place-content: center;

  &__wrapper {
    align-items: center;
    gap: 50px;
  }

  &__left,
  &__right {
    flex-direction: column;
    gap: 20px;
    height: fit-content;
  }

  &__left {
    flex: 1;

    &-image {
      img {
        width: 100%;
      }
    }

    &-social {
      justify-content: space-evenly;
      padding: 15px 0;

      i {
        font-size: 20px;
        color: $primary-clr;

        &:hover {
          color: $accent-clr;
        }
      }
    }
  }

  &__right {
    flex: 2;

    &-text {
      .wrap h2 {
        font-size: clamp(24px, 4vw + 1rem, 35px);
      }

      .typewrite {
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        color: $accent-clr;
        border-right: 4px solid $accent-clr;
      }

      p {
        margin: 20px 0 30px;
        font-weight: 500;
        color: $primary-clr;
        line-height: 25px;
      }

      &-btn {
        &:hover {
          background-color: $primary-clr;
          border: 1px solid transparent;
        }
      }
    }

    &-skill {
      overflow: hidden;
      position: relative;
      align-items: center;
      padding: 40px 0 30px;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );

      .icon {
        position: absolute;
        left: 100%;
        animation-name: scrollLeft;
        animation-duration: 35s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        i {
          font-size: 50px;
          &:hover {
            color: $accent-clr;
            transform: scale(1.2);
            cursor: default;
          }
        }
      }

      @keyframes scrollLeft {
        from {
          left: 100%;
        }
        to {
          left: -100px;
        }
      }

      .icon1 {
        animation-delay: 0s;

        i {
          color: #dd4b24;
        }
      }

      .icon2 {
        animation-delay: 5s;

        i {
          color: #254bde;
        }
      }

      .icon3 {
        animation-delay: 10s;

        i {
          color: #d1689a;
        }
      }

      .icon4 {
        animation-delay: 15s;

        i {
          color: #f4e225;
        }
      }

      .icon5 {
        animation-delay: 20s;

        i {
          color: #7f18f9;
        }
      }

      .icon6 {
        animation-delay: 25s;

        i {
          color: #28799e;
        }
      }

      .icon7 {
        animation-delay: 30s;

        i {
          color: $primary-clr;
        }
      }
    }
  }
}
// About Me End

// Project Start
.project {
  height: 100vh;
  height: 100%;
  // place-content: center;

  &__container {
    padding: 20px;
    border: 2px solid aliceblue;
  }

  &__filter {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &-buttons {
      gap: 10px;
      padding: 40px;
      border: 1px solid red;

      button {
        padding: 10px 20px;
        color: $primary-clr;
        background-color: $accent-clr;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $accent-clr;
          background-color: transparent;
          border: 1px solid $accent-clr !important;
        }
      }
    }

    &-boxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
      border: 1px solid greenyellow;

    }
    &-box {
      display: block;
      width: 300px;
      height: 300px;
      transition: opacity 0.23s ease-in-out, transform 0.23s ease-in-out;
      opacity: 1;
      transform: scale(1);
      border: 1px solid #fff;
      background-color: #f0f0f0; /* For visual distinction */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .project__filter-box.hiding {
      opacity: 0;
      transform: scale(0.9);
      pointer-events: none;
    }
    
    .project__filter-box.hide {
      display: none;
    }
  }
}
// Project End
