/* MOBILE (S) DEVICES (PHONE, less than 375px) */
@media (max-width: 374.98px) {
  // HERO START
  .hero {
    &__wrapper {
      // grid-template-columns: repeat(12, 1fr);
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 28px !important;
    }

    &__content {
      grid-area: 2/1/2/8;
      width: 100%;
      text-align: center;

      h1 {
        margin: 0 auto;
        width: 10ch;
      }

      p {
        margin: 20px 0 40px;
        padding: 0 5px;
        width: 100%;
        line-height: 27px;
      }
    }

    &__image {
      grid-area: 1 / 1 / 1 / 12;
    }
  }
  // HERO END
}

/* MOBILE (L - M) DEVICES (PORTRAIT PHONE, less than 576px) */
@media (max-width: 575.98px) {
  // COMMON CSS START
  .btn {
    padding: 13px 15px;
  }

  .container {
    border: 5px solid yellow;
  }
  // COMMON CSS END

  // HEADER START
  .header {
    padding: 10px 0;
    height: 55px;

    &__logo {
      img {
        height: 35px;
      }
    }

    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__hamburgermenu-icon {
      display: block;

      i {
        font-size: 28px;
      }
    }
  }
  // Hamburger Menu
  .hamburgermenu {
    height: calc(100svh - 55px);
  }
  // HEADER END

  // HERO START
  .hero {
    height: 100%;

    &.section-padding {
      padding: 40px 0;
    }

    &__wrapper {
      // grid-template-columns: repeat(12, 1fr);
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 30px;
    }

    &__content {
      grid-area: 2/1/2/12;
      width: 100%;
      text-align: center;

      h1 {
        margin: 0 auto;
        width: 10ch;
      }

      p {
        margin: 20px 0 40px;
        width: 100%;
        line-height: 27px;
      }
    }

    &__image {
      grid-area: 1 / 1 / 1 / 12;

      img {
        display: block;
      }
    }

    &__social {
      display: none;
    }
  }
  // HERO END

  // ABOUT START
  .about {
    height: 100%;

    &__wrapper {
      flex-direction: column;
    }

    &__left {
      &-social i {
        font-size: 30px;
      }
    }

    &__right {
      gap: 10px;

      &-skill {
        padding: 30px 0;

        .icon i {
          font-size: 35px;
        }
      }
    }
  }
  // ABOUT END
}

/* SMALL DEVICES (LANSCAPE PHONE, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  // HEADER START
  .header {
    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__hamburgermenu-icon {
      display: block;
    }
  }
  // HEADER END

  // HERO START
  .hero {
    height: 100%;

    &.section-padding {
      padding: 50px 0;
    }

    &__wrapper {
      grid-gap: 40px;
    }

    &__content {
      grid-area: 2/1/3/13;

      h1 {
        width: 10ch;
      }

      p {
        width: 100%;
      }
    }

    &__image {
      grid-area: 1/3/1/11;
    }

    &__social {
      grid-area: 1 / 12;
      align-self: center;
    }
  }
  // HERO END

  // ABOUT START
  .about {
    height: 100%;

    &__wrapper {
      flex-direction: column;
    }

    &__left-social i {
      font-size: 30px;
    }
  }
  // ABOUT END
}

/* MEDIUM DEVICES (TABLETS, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  // HEADER START
  .header {
    &__nav {
      display: none;
    }

    &__btn {
      display: none;
    }

    &__hamburgermenu-icon {
      display: block;
    }
  }
  // HEADER END

  // HERO START
  .hero {
    height: 100%;
    border: 2px solid red;

    &__wrapper {
      grid-gap: 40px;
    }

    &__content {
      grid-area: 2/1/3/13;
      text-align: center;
    }

    h1 {
      margin: 0 auto;
      width: 10ch;
    }

    p {
      margin: 20px auto 50px;
    }

    &__image {
      grid-area: 1/3/1/11;
    }

    &__social {
      grid-area: 1 / 12;
      align-self: center;
    }
  }
  // HERO END

  // ABOUT START
  .about {
    height: 100%;

    &__wrapper {
      flex-direction: column;
    }

    &__left-social i {
      font-size: 30px;
    }
  }
  // ABOUT END
}

/* LARGE DEVICES (DESKTOPS, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  // COMMON CSS START
  .section-padding {
    padding: 20px 0;
  }
  // COMMON CSS END

  // HEADER START
  .header {
    &__nav ul {
      gap: 30px;
    }
  }
  // HEADER END

  // HERO START
  .hero {
    place-content: center;
  }
  // HERO END
}

/* EXTRA LARGE DEVICES (LARGE DESKTOPS, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* EXTRA EXTRA LARGE DEVICES (LARGE DESKTOPS, 1400px and up) */
@media (min-width: 1400px) {
}
