# Ignore node_modules folder
node_modules/


# ignore
package-lock.json
package.json

# Ignore compiled files
*.class
*.pyc
*.o
*.exe

# Ignore environment files
.env

# Ignore all files in the temp directory
scss/
cv/
img/
js/